ul#panel li {display: inline-block;}
ul#panel li:after {
	position: relative;
	color: #606060;
}
ul#panel li:last-child:after {content: none;}
ul#panel a {
  text-decoration: none;
  font-family: 'Ubuntu Condensed', sans-serif;
  position: relative;
  margin: 9px 9px 9px 9px;
  font-size: 15px;
  display: inline-block;
  color: #006400;
}
ul#panel a:hover { 
    text-decoration: underline; 
}
ul#panel a:before,
ul#panel a:after {
  content: "";
  position: relative;
  height: 4px;
  top: auto;
  background: #feb386;
}