.shopping-cart {
  width: 750px;
  height: auto;
  margin: 50px auto;
  background: #FFFFFF;
  box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
  border-radius: 6px;
  display: flex;
}
.title {
  height: 75px;
  border-bottom: 1px solid #E1E8EE;
  color: #5E6977;
  font-size: 17px;
}
.total-price {
  height: 75px;
  border-top: 1px solid #E1E8EE;
  padding: 0px 30px;
  margin: 0 100px 0 100px;
  color: #5E6977;
  font-size: 18px;
  color: black;
  text-align: right;
}
.quan{
	border: 0px;
	text-align: center;
}
.child{
	display: inline-block;
	width: 20%;
	padding: 10px;
}
.child2{
	display: inline-block;
	width: 10%;
	padding: 10px;
}
 
.minus-btn[class*=btn],
.plus-btn[class*=btn],
.delete-btn[class*=btn] {
  width: 30px;
  height: 30px;
  background-color: #E1E8EE;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}
.minus-btn img {
  margin: 0 -3px 0px -3px;
}
.plus-btn img {
  margin: 0 -3px 0px -3px;
}
.delete-btn img {
  width: 20px;
  margin: 0px -3px 2px -3px;
}

@media (max-width: 800px) {
  .shopping-cart {
    width: 100%;
    height: auto;
    overflow: hidden;
  }
  .description {
    width: 100%;
    text-align: center;
    margin: 6px 0;
  }
}